
<div id="jstree_demo_div">
    <ul>
        <li>
            Root node 1
            <ul>
                <li>Child node 1</li>
                <li><a href="#">Child node 2</a></li>
                <li data-jstree='{"opened":true,"selected":true}'>
                    Child node 3
                    <ul>
                        <li data-jstree='{"disabled":true}'>Child</li>
                        <li data-jstree='{"icon":"//jstree.com/tree.png"}'>
                            Child
                        </li>
                        <li data-jstree='{"icon":"glyphicon glyphicon-upload"}'>
                            Child
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>