@model Ansab.Models.IndexVM


@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/jsTree/style.css" rel="stylesheet" />
<br />
@if (Model.GroupVM != null || Model.PersonVM != null)
{
    <div class="row">
        <div class="col-md-3" style="float:right">
            @Html.Partial("_MainTree")
        </div>
        <div class="col-md-9">
            @if (Model.GroupVM != null)
            {
                @Html.Partial("~/Views/Groups/Details.cshtml", Model.GroupVM)
            }
            else if (Model.PersonVM != null)
            {
                @Html.Partial("~/Views/People/Details.cshtml", Model.PersonVM)
            }
        </div>
    </div>
}


@section Scripts{
    <script src="~/Scripts/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree_demo_div').jstree();

            $('#jstree_demo_div').on("changed.jstree", function (e, data) {
                console.log(data.selected);
            });
        });
    </script>

}